.dswd_image{
    width: 60px;
    height: 60px;
}
h3{
    text-align: center;
    margin: 10px;
}
.cons{
    margin-top: 50px;
}
.forms{
    margin-top: 0;
    margin-left: 33%;
    width: 400px;
}
/* *{
    border: 1px solid green;
} */
.containers{
    padding-top: 50px;
}
.pic{
    width: 100%;
    height: 100%;
    /* margin-left: 50px; */
    /* margin-top:10px; */
}